---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { getAlbumImages } from "@lib/utils";
import { Image } from "astro:assets";
import BackToPrevious from "@components/BackToPrevious.astro";

export async function getStaticPaths() {
  const albums = (await getCollection("albums")).filter(
    (post) => !post.data.draft,
  );

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id,
      },
      props: {
        album,
      },
    };
  });
  return paths;
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---

<Layout title={album.data.title} description={album.data.description}>
  <h1 class="animate text-3xl font-semibold text-black dark:text-white text-center">{album.data.title}</h1>
  <div
    id="gallery--album"
    class="pswp-gallery animate container mx-auto my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5"
  >
    {
      images.map((image) => (
        <a href={image.src} data-pswp-width={image.width} data-pswp-height={image.height} target="_blank">
          <Image
            src={image}
            alt={`Image from ${album.data.title} album`}
            format="webp"
            quality="low"
            class="mb-4 rounded-sm border border-transparent transition-all duration-300 ease-in-out hover:border-gray-300 hover:shadow-lg"
            loading="lazy"
          />
        </a>
      ))
    }
  </div>
  <Container class="animate mx-auto">
    <BackToPrevious href="/albums">All albums</BackToPrevious>
  </div>
</Layout>

<script>
  // Initialize Photoswipe
  import PhotoSwipeLightbox from 'photoswipe/lightbox';
  import 'photoswipe/style.css';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery--album',
    children: 'a',
    pswpModule: () => import("photoswipe"),
  });

  // lightbox.init();

  document.addEventListener(
    'astro:page-load',
    () => { if (lightbox) lightbox.init() },
    { once: false },
  );
</script>
